extends layout

block content
	section
		p TO DO LIST
	section
		form(action="/" method="post")
			input(type="text" name="task")
			button(type="submit" name="add" value="add") add
			button(type="submit" name="clear" value="clear" formaction="/clear") clear list
		if db
			table
				each val in {db}					
					each obj, index in val
						tr
							td #{obj.taskTitle}
							td #{obj.taskDone}					