extends layout

block content
	section
		p TO DO LIST
	section
		form(action="/" method="post")
			input(type="text" name="task")
			button(type="submit" name="add" value="add") add
			button(type="submit" name="clear" value="clear" formaction="/clear") clear list
		if db
			table(class="tbTasks")
				each val in {db}					
					each obj, index in val
						tr
							td
								i(class="fa fa-close")
							td #{obj.taskTitle}							
							td
								if	obj.taskDone
									input(type="checkbox" checked)
								else
									input(type="checkbox")
